.about-container{
    width: 1170px;
    display: flex;
}


.colui {
  width:  50%;
  padding: 10px;
  height: 300px; 

} 
/* .colui Image{

  margin-left: 40px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 80px;
} */

.colui h2{
  color: #000;
  font-size: 3rem;
  flex-direction: column;
 line-height: 1;
  font-size: 2rem;
  font-weight: bold;
  width:  50%;
  margin-left: 80px;
  margin-top: 90px;

 }
 .colui p{
  flex-direction: column;
  margin-top: 30px;
  color: #617d98;
  line-height: 2rem;
  max-width: 100%;
  font-size: 1em;
  margin-left: 90px;
    } 
    .colui .underLine{
      width: 90px;
      height: 4px;
      background-color:#e93467;
      margin-left: 85px;
    }  

 